.yt-statistic-label-itm {
  padding-right: 8px;
  &:not(:last-child) {
    border-right: 1px solid #E2E2EA;
    margin-right: 6px;
  }
  .amount-num {
    display: inline-block;
    vertical-align: middle;
    color: #666;
    padding-left: 4px;
  }
  .ant-statistic {
    display: inline-block;
    .ant-statistic-content-prefix {
      margin: 0;
    }
  }
}
