.yt-condition-form {
  margin-bottom: 10px;
  .ant-input,.ant-picker,
  .ant-form-item .ant-select,
  .ant-form-item .ant-cascader-picker, {
    width: 240px;
  }
  .ant-slider {
    display: inline-block;
    vertical-align: middle;
    width: 240px;
  }
  .submit-btn-wrap {
    padding-bottom: 20px;
    text-align: center;
  }
  //一行两列表单
  .two-multi-form-item {
    margin: 0;
    .ant-form-item {
      display: inline-block;
      .ant-input {
        width: 110px;
      }
    }
    .line{
        display: inline-block;
        width: 20px;
        text-align: center;
        vertical-align: middle;
     }
  }
}
