
.block-chain-node {
  .map-block {
    width: 60%;
  }
  .bcd-list {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #F0EFF5;
  }
  .bcd-item {
    font-size: 0;
    padding: 0 20px 0 20px;
    &:nth-child(1) {
      border-bottom: 1px solid #F0EFF5;
    }
  }
  .icon-bd,
  .bcd-info {
    display: inline-block;
    vertical-align: middle;
  }
  .icon-bd {
    width: 22px;
    height: 22px;
    margin-right: 22px;
  }
  .bcd-info {
    color: #999;
    font-size: 12px;
    line-height: 24px;
    .num {
      color: #000;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
