.assetView-pages-wrap {
  .assetView-part-content {
    align-items: flex-start;
  }
  .asset-module-wrap {
    align-items: flex-start;
    .module-item {
      flex:1 0 auto;
      &:not(:last-child) {
        margin-right: 1%;
      }
    }
  }
  .verify-process {
    .card-content {
      padding: 0;
    }
    .company-list {
      padding: 0 16px;
      margin-bottom: 30px;
    }
    .status-item {
      // margin-right: 20px;
      margin-bottom: 16px;
    }
    .img-name {
      width: 26px;
      height: 29px;
      vertical-align: middle;
    }
    .status-name {
      width: 56px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 6px;
      color: #666666;
      font-size: 12px;
      line-height: 24px;
    }
    .asset-itm {
      flex: 1;
      text-align: center;
      padding: 10px 0;
      border-top: 1px solid #E7E8F2;
      &:not(:last-child) {
        border-right: 1px solid #E7E8F2;
      }
      .label-num {
        color: #171725;
        font-size: 18px;
        line-height: 24px;
      }
      .label-name {
        color: #666666;
        font-size: 12px;
        line-height: 24px;

      }
    }
  }

}
