.yt-common-card {
  background: #fff;
  // .label-title {
  //   color: #333333;
  //   font-size: 20px;
  //   line-height: 24px;
  //   padding:16px 16px 24px 16px;
  //   border: 0;
  //   font-weight: normal;
  // }
  // .card-content {
  //   padding: 16px;
  // }

  .ant-card-head {
    padding:0 16px;
    border: 0;
    .ant-card-head-title {
      font-size: 20px;
      color: #333333;
      font-weight: normal;
      padding:16px 0 24px 0;
    }
    .ant-card-body {
      padding: 16px;
    }
  }
}
