.financeWorkbench-pages-wrap {
  width: 100%;

  .total {
    font-size: 26px;
    color: #333;
  }

  .m0-20 {
    margin: 0 20px;
  }

  .m0-2 {
    margin: 0 2px;
  }

  .part {
    color: #333;
  }

  .rate {
    margin-top: 30px;
    color: #999;
  }

  .fs-14 {
    font-size: 12px;
  }

  .tc-333 {
    color: #333;
  }

  .green {
    color: rgb(129, 201, 38);
  }

  .red {
    color: rgb(245, 108, 108);
  }
}

.flex-pb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-break {
  white-space: nowrap;
}

.overflowHidden(@max-w:100px) {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: @max-w;
}

.shadow {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, .1);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.bc-fff {
  background-color: #fff;

}

.flex-c {
  display: flex;
  flex-direction: column;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.flex-ac {
  display: flex;
  align-items: center;
}

.flex-pc {
  display: flex;
  justify-content: center;
}

.flex-as {
  display: flex;
  align-items: flex-start;
}

.flex-ps {
  display: flex;
  justify-content: flex-start;
}
.flex-warp {
  display: flex;
  flex-wrap: wrap;
}
.zichanchi:extend(.flex-c,.flex-pb) {
  height: 200px;

  ul:extend(.flex-pb,.flex-as,.flex-warp) {
    width: 100%;
    height: 100%;

    > li:extend(.flex-1,.flex-ps) {
      width: 200px;
      padding: 10px;
      position: relative;

      //&:not(:last-child) {
      //  &::after {
      //    content: '';
      //    width: 1px;
      //    height: 30px;
      //    background-color: #eee;
      //    display: inline-block;
      //    position: absolute;
      //    right: 0;
      //    top: 30%;
      //  }
      //}

      img {
        width: 30px;
        height: 30px;
        margin-right: 7px;
        margin-top: 10px;
      }

      .key {
        font-size: 12px;
        color: #999;

      }

      .val {
        font-size: 16px;
        .overflowHidden();
        color: #333;

        span {
          font-size: 20px;

        }
      }

    }
  }
}
