.finance-part-content {
  align-items: flex-start;
  .dynamic-state-action {
    .ant-card-body {
      padding: 0;
    }
  }
  .row-dt{
    background: #FFFFFF;
    padding: 10px 0 10px 24px;
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 1px 10px 6px #eaeaea;
      transition: all .5s ease-out;
    }
    .lf {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
    .rf {
      margin-left: 24px;
      color: #999999;
      font-size: 14px;
      line-height: 20px;
      .tit{
        font-size: 16px;
        color: #333333;
      }
    }
   }
}
