.asset-info-pages-wrap {
  .aio-main-part {
    margin-bottom: 24px;
    .link-default-btn {
      padding: 0;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      margin-left: 10px;
    }
    .aiom-top {
      background: #FBFCFD;
      border-bottom: 1px solid #E2E2EA;
      padding:24px 0 24px 40px;
      .card-hd {
        color: #333333;
        font-size: 20px;
        line-height: 24px;
      }
      .sub-hd {
        color: #666666;
        font-size: 14px;
        padding-left: 120px;
        .label {
          color: #999;
          padding-right: 10px;
        }
      }
    }
    .aiom-bottom {
      padding: 24px 16px  30px 40px;
      .info-im {
        flex: 1;
        line-height: 24px;
        .label-value {
          color: #333333;
          font-size: 20px;
        }
        .label-name {
          color: #666;
          font-size: 16px;
          margin-bottom: 16px;
        }
      }
    }
  }
  .aio-verify-wrap {
    align-items: stretch;
    margin-bottom: 24px;
    .status-default-btn.ant-btn {
      padding: 0;
      padding: 0 10px;
      height: 32px;
      line-height: 32px;
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
    .part-same-shadow {
      margin: 0;
    }
    .aiov-lf {
      height: 100%;
    }
    .ant-card-head {
      background: #FBFCFD;
      border-bottom: 1px solid  #E4E7ED;
    }
    .source-item {
      flex: 1;
      text-align: center;
      .icon-itm {
        width: 26px;
        height: 26px;
        margin-bottom: 16px;
      }
    }
    .ver-data {
      .verd-row {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        .verdr-lf {
          width: 30px;
          height: 30px;
          background: blue;
        }
        .verdr-rf {
          padding-left: 10px;
        }
      }
    }
  }
}
